<!DOCTYPE html>

<html>
<head>
    <title>ToDoアプリ</title>
</head>
<body>
    <h1>ToDoリスト</h1>
    <ul>
        {% for task in tasks %}
            <li>
                {% if task.done %}
                    <s>{{ task.name }}</s>
                {% else %}
                    {{ task.name }}
                    <a href="/done/{{ loop.index0 }}">完了にする</a>
                {% endif %}

            </li>
        {% endfor %}
    </ul>

    <form action="/add" method="POST">
        <input type="text" name="new_task" placeholder="新しいタスク">
        <button type="submit">追加</button>
    </form>
</body>
</html>